<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>User Register</title>
    <link href="webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="webjars/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
</head>
<body class="container-fluid">

<!--/*@thymesVar id="usermanagement" type="com.dimmaryanto93.engineer.entities.UserManagement"*/-->
<div class="form-group form-horizontal" th:object="${usermanagement}">
    <div class="input-group">
        <label class="control-label">Username</label>
        <input th:value="*{username}" class="form-control" readonly="readonly"/>
    </div>
    <div class="input-group">
        <label class="control-label">Password</label>
        <input th:value="*{password}" class="form-control" readonly="readonly"/>
    </div>
    <div class="input-group">
        <label class="control-label">Role</label>
        <input th:value="*{role}" class="form-control" readonly="readonly"/>
    </div>
</div>
</body>
</html>